{% extends 'base.html.twig' %}

{% block body %}
    {% verbatim %}
      <div v-for="phone in phones">
  <div>
    <div>
      <p>{{ phone.name }}</p>
      <p>{{ phone.brand.name }}</p>
      <img :src="'http://127.0.0.1:8001/uploads/images/phones/' + phone.image">
    </div>
  </div>
</div>
    {% endverbatim %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        var vm = new Vue({
            el: '#app',
            data: {
                phones: []
            },
            components: {
                'phone' : Phone,
                'phoneDetail' : PhoneDetail
            },
            created() {
                // GET /someUrl
                this.$http.get('http://127.0.0.1:8001/api/phones').then(response => {
                    this.phones = response.data[0].items;
                })
            }
        });
    </script>
{% endblock %}